<form method="post" action="{{ path('analisis_fisico_delete', {'id': analisis_fisico.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ analisis_fisico.id) }}">
    <button class="btn">Delete</button>
</form>
