<form method="post" action="{{ path('app_tipo_documento_tramite_delete', {'id': tipo_documento_tramite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_documento_tramite.id) }}">
    <button class="btn">Delete</button>
</form>
