{% extends 'base.html.twig' %}

{% block title %}New GuiaRemision{% endblock %}

{% block body %}
    <h1>Create new GuiaRemision</h1>

    {{ include('guia_remision/_form.html.twig') }}

    <a href="{{ path('app_guia_remision_index') }}">back to list</a>
{% endblock %}
