{% extends 'base.html.twig' %}

{% block title %}Edit Proyecciones{% endblock %}

{% block body %}
    <h1>Edit Proyecciones</h1>

    {{ include('proyecciones/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('proyecciones_index') }}">back to list</a>

    {{ include('proyecciones/_delete_form.html.twig') }}
{% endblock %}
