{% extends 'base.html.twig' %}

{% block title %}Edit ProductoTraslado{% endblock %}

{% block body %}
    <h1>Edit ProductoTraslado</h1>

    {{ include('producto_traslado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producto_traslado_index') }}">back to list</a>

    {{ include('producto_traslado/_delete_form.html.twig') }}
{% endblock %}
