{% extends 'base.html.twig' %}

{% block title %}New ProductoTraslado{% endblock %}

{% block body %}
    <h1>Create new ProductoTraslado</h1>

    {{ include('producto_traslado/_form.html.twig') }}

    <a href="{{ path('producto_traslado_index') }}">back to list</a>
{% endblock %}
